.side-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  align-items: stretch;
  height: 100%;
  width: 20%;
  justify-content: space-between;
}

.chats-links {
  display: flex;
  flex-direction: column;
  height: 60%;
}

.button {
  height: 100%;
  flex-grow: 1;
}
